@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e4e4dc;
  --foreground: #3a2e42;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  button {
    @apply bg-valleyoftears text-black px-4 py-1 border-2 border-gray-300 hover:border-valleyoftears;
  }

  input {
    @apply px-4 py-1 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-valleyoftears focus:border-valleyoftears text-gray-500
  }
}

@layer utilities {
  @variants responsive {
    .masonry {
      column-gap: 1em;
      column-count: 2;
    }
    .masonry-sm {
      column-gap: 1em;
      column-count: 4;
    }
    .masonry-md {
      column-gap: 1em;
      column-count: 5;
    }
    .masonry-lg {
      column-gap: 1em;
      column-count: 6;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}
